 select{
     color: #840984 !important;
     border-color: #840984 !important;
     border: none
 }
 select{
    border-color: #840984 !important;
    
 }
 select:focus{
    outline: none
 }
 select:option:focus{
     background: #840984 !important;
 }
 /* option{
     color : #840984 !important;
   
     
 } */
 /* img.image{

    height: 18px;
    width: 18px;
 } */
 button.btn-outline-secondary{
     border-color:#840984 !important;
 }    
 button.btn-img-delete:hover{ 
    background-color: red !important;
} 
button.btn-img-update:hover{ 
    background-color: #e035e0 !important;
} 
button.btn-outline-secondary:focus{
    border-color:#840984 !important;
} 
button.btn-img{
    background-image: url('../assets/img/delete.png') !important;
 }

 